<h1 class="page-header">Add Product</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (submit)="onAddProductSubmit()">
  <div class="form-group">
    <label for="name"> Name</label>
    <div [ngClass]="{'has-error': (form.controls.name.errors && form.controls.name.dirty),'has-success':  !form.controls.name.errors }">
      <input type="text" name ="name" class="form-control" autocomplete="off" placeholder="*Name" formControlName="name"/>
      <ul class="help-block">
        <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required</li>
        <li *ngIf="form.controls.name.errors?.minlength && form.controls.name.dirty || form.controls.name.errors?.maxlength && form.controls.name.dirty ">Minimum characters: 5, Maximum characters: 30</li>
        <li *ngIf="form.controls.name.errors?.validateName && form.controls.name.dirty">This must be a valid name</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="name"> Price</label>
    <div [ngClass]="{'has-error': (form.controls.price.errors && form.controls.price.dirty),'has-success':  !form.controls.price.errors }">
      <input type="text" name ="price" class="form-control" autocomplete="off" placeholder="*Price" formControlName="price"/>
      <ul class="help-block">
        <li *ngIf="form.controls.price.errors?.required && form.controls.price.dirty">This field is required</li>
        <li *ngIf="form.controls.price.errors?.minlength && form.controls.price.dirty || form.controls.price.errors?.maxlength && form.controls.price.dirty ">Minimum characters: 0</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="name"> Description</label>
    <div [ngClass]="{'has-error': (form.controls.description.errors && form.controls.description.dirty),'has-success':  !form.controls.description.errors }">
      <input type="text" name ="description" class="form-control" autocomplete="off" placeholder="*Description" formControlName="description"/>
      <ul class="help-block">
        <li *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">This field is required</li>
        <li *ngIf="form.controls.description.errors?.minlength && form.controls.description.dirty || form.controls.description.errors?.maxlength && form.controls.description.dirty ">Minimum characters: 5, Maximum characters: 100</li>
      </ul>
    </div>
  </div>

  <input [disabled]="!form.valid " type="submit" class="btn btn-primary" value="Submit" />
    
  
  </form>

  